
## Added by Ansible - role: ansible_host_tunning

auto tun1
iface tun1 inet static
    address {{ gre_tun1_local_tunnel_ip }}
    netmask {{ gre_tun1_local_tunnel_subnet }}
    pre-up iptunnel add tun1 mode gre local {{ gre_tun1_local_intreface_ip }} remote {{ gre_tun1_remote_intreface_ip }} ttl 255
    up ifconfig tun1 multicast
    pointopoint {{ gre_tun1_remote_tunnel_ip }}
    post-down iptunnel del tun1


auto tun2
iface tun2 inet static
    address {{ gre_tun2_local_tunnel_ip }}
    netmask {{ gre_tun2_local_tunnel_subnet }}
    pre-up iptunnel add tun2 mode gre local {{ gre_tun2_local_intreface_ip }} remote {{ gre_tun2_remote_intreface_ip }} ttl 255
    up ifconfig tun2 multicast
    pointopoint {{ gre_tun2_remote_tunnel_ip }}
    post-down iptunnel del tun2



# The loopback network interface
auto lo:1
iface lo:1 inet static 
    address {{ loopback_1_ip }} 
    netmask {{ loopback_1_subnet }}

## Added by Ansible - role: ansible_host_tunning


